body{
	background-color: white;
}
.logo{
padding-bottom: 50px;

}
.container-fluid{
  width : 100%;
  height: 20px;
	-webkit-transform: translateZ(0);

}
.pic-puzzle img{
 width: 50%;
 height: 20%;

}


 #step1{
 background-color: #6FD8E0;
 height: 160px;
border-radius: 25px;
    border: 2px solid #66B2FF	;

}

#step2{
background-color: #70D7AB;
height: 160px;
border-radius: 25px;
    border: 2px solid #3BC6A1;

}

#step3{
background-color: #B2CB5E;
height: 160px;
border-radius: 25px;
    border: 2px solid #73AD21;

}
.steps-wrapper{

	margin-top: 10%;
	margin-left: 8%;
	margin-right: 8%;


}


#steps {
	height: 200px;
}

.main{
  margin-left: 5%;
  margin-right: 3%;
}

.main h2{
  padding-top: 35px;
}
.main img{
	display: block;
	margin: 0 auto;
}
.icon{
  width: 50%;
  height: 40%;
padding: 20px;

}
.container-logos{

	background-color: #ECECEC;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	margin-bottom: 200px;
}

 #Protein{
	background-color: #58ACDF;
}
 #DNA{
	background-color: #6FD8E0;

}
 #RNA{
	background-color: #70D7AB;
}

#DNA:hover{
	background-color: grey;

}
#RNA:hover{
	background-color: grey;

}


 #bench-icon h1{
	padding-top: 40%;
 }


.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 300px;
  text-align: center;
  background: #000;


}

.circle a{
		text-decoration: none;
		color: inherit;
}



#bench-icon:hover{
	color: inherit;
	text-decoration: none;
	transition: width .5s ease;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#bench-icon a:hover{
	color:grey;
	text-decoration: none;

}

.icons{
	padding-top: 80px;
}
#up_dx{
position:absolute;
 right:5%; top:100px;
 background-color: #D1ECFF;
 width:150px; height:100px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
border-style: solid;
border-width: 0px 0px 0px 8px;

}

#up_dx:hover{
	background-color: #E5F4FF;

}

.Logo p{

   font-size:100px;
   color: #70D7AB ;
   font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}[/css];



}

.myButton {
	margin-top: 50px;
	background-color:#C7C7C7;
	color:#404040;
	font-size:17px;
	padding:1px 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.myButton:hover{
	title: "dfasf";
}
