body{
	background-color: white;
}
.logo{
padding-bottom: 50px;

}
.container-fluid{
  width : 100%;
  height: 20px;
	-webkit-transform: translateZ(0);

}
.pic-puzzle img{
 width: 50%;
 height: 20%;

}


 #step1{
 background-color: #6FD8E0;
 height: 160px;
border-radius: 25px;
    border: 2px solid #66B2FF	;

}

#step2{
background-color: #70D7AB;
height: 160px;
border-radius: 25px;
    border: 2px solid #3BC6A1;

}

#step3{
background-color: #B2CB5E;
height: 160px;
border-radius: 25px;
    border: 2px solid #73AD21;

}
.steps-wrapper{

	margin-top: 1%;
	margin-left: 8%;
	margin-right: 8%;


}


#steps {
	height: 200px;
}

.main{
  margin-left: 5%;
  margin-right: 3%;
}

.main h2{
  padding-top: 35px;
}
.main img{
	display: block;
	margin: 0 auto;
}
.icon{
  width: 50%;
  height: 40%;
padding: 20px;

}
.container-logos{

	background-color: #ECECEC;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	margin-bottom: 100px;
}

 #Protein{
	background-color: #58ACDF;
}
 #DNA{
	background-color: #6FD8E0;

}
 #RNA{
	background-color: #70D7AB;
}

#DNA:hover{
	background-color: grey;

}
#RNA:hover{
	background-color: grey;

}


 #bench-icon h1{
	padding-top: 40%;
 }


.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 300px;
  text-align: center;
  background: #000;


}

.circle a{
		text-decoration: none;
		color: inherit;
}



#bench-icon:hover{
	color: inherit;
	text-decoration: none;
	transition: width .5s ease;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#bench-icon a:hover{
	color:grey;
	text-decoration: none;

}

.icons{
	padding-top: 80px;
}
#up_dx{
position:absolute;
 right:5%; top:100px;
 background-color: #D1ECFF;
 width:150px; height:100px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
border-style: solid;
border-width: 0px 0px 0px 8px;

}

#up_dx:hover{
	background-color: #E5F4FF;

}

.Logo p{
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 4s; /* Firefox < 16 */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera < 12.1 */
	animation: fadein 4s;
   font-size:100px;
   color: #0E77D2;
   font-family: Copperplate / Copperplate Gothic Light, sans-serif;




}
.infos h4,h2{
	-webkit-animation: fadeInRight 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeInRight 2s; /* Firefox < 16 */
	-ms-animation: fadeInRight 2s; /* Internet Explorer */
	-o-animation: fadeInRight 2s; /* Opera < 12.1 */
	animation: fadeInRight 2s;

}
.myButton {
	margin-top: 50px;
	background-color:#C7C7C7;
	color:#404040;
	font-size:17px;
	padding:1px 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.myButton:hover{
	title: "dfasf";
}


.row{
	margin: 4%;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px,0px,50px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}








.gearBox{
 width: 100%;
 height:300px;
 position:relative;
}

.teeth {
 position: relative;
 top: -10px;
 right: 10px;
 border-radius: 100%;
 background-color: white ;
 border: 20px dotted #0E77D2;
 height: 90px;
 width: 90px;
}
.plate{
 height:70px;
 width:70px;
 margin-top:10px;
 margin-left:10px;
 background:white;
 position:relative;
 border-radius:50%;
}
.whole{
 height:30px;
 width:30px;
 margin-top:15px;
 margin-left:15px;
 border:5px solid #C9C9C9;
 background:#ededed;
 position:relative;
 border-radius:50%;
}


#mainrow{
	margin-top: 5%;
}



.des{

	border-left: 40px;
}





#one,
#two,
#three {
 text-align: center;
 position: absolute;
 left: 100px;
 top: 50px;
 border-radius: 100%;
 background-color: #0E77D2;
 height: 110px;
 width: 110px;
 padding: 0;
}


#three{
	position: absolute;
  left: 316px;
  top: 111px;

}


#two{
	position:absolute;
 left: 220px;
 top: 41px;

}

#intern-one{
	position:absolute;
	left: 113px;
	top:73px;
}

#intern-two{
	position:absolute;
 left: 243px;
 top: 63px;

}


#intern-three{
	position: absolute;
  left: 337px;
  top: 138px;
}


#one .teeth , #three .teeth  {
 -webkit-animation: rotate 5s infinite linear;
 -moz-animation: rotate 5s infinite linear;
 -o-animation: rotate 5s infinite  linear;
	animation: rotate 5s infinite linear;
}


 #two  {
 -webkit-animation: rotate 5s infinite linear;
 -moz-animation: rotate 5s infinite linear;
 -o-animation: rotate 5s infinite  linear;
	animation: rotate 5s infinite linear;
	-webkit-animation-direction: reverse;
	 animation-direction: reverse;
}



@-webkit-keyframes rotate {
 from {-webkit-transform: rotate(0deg);}
 to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
 from {-moz-transform: rotate(0deg);}
 to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotate {
 from {-o-transform: rotate(0deg);}
 to {-o-transform: rotate(360deg);}
}
@keyframes rotate {
 from {transform: rotate(0deg);}
 to {transform: rotate(360deg);}
}

.teeth {
 -moz-background-clip: content;
 -webkit-background-clip: content;
 background-clip: content-box;
 box-sizing: content-box;
-webkit-box-sizing:content-box;
}
